


<%@posts.each do |post|%>

<div class="comment">
  <div class="icon">
<img src =  "/user_images/default.png" >
  </div>
<div class="name">
  <%@user=User.find_by(id: post.user_id)%>
  <%=@user.name%>
</div>
<div class="content">
<%=link_to(post.content,"/posts/#{post.id}/edit",{class:"link"}) %>
</div>
</div>
<% end%>
